<!-- -->
<launch>
    <!-- tf between base_footprint and camera 
    <node pkg="tf"
        type="static_transform_publisher"
        name="base_to_cam"
        args="-0.05373692  0.03228047  1.10943806
                0.58899471 -0.55459358  0.40502386 -0.42215926
                base_footprint perception_link 100" />-->

    <!-- KIST tf between head_pitch and camera 
    <node pkg="tf"
        type="static_transform_publisher"
        name="head_to_cam"
        args="0.136358 0.0325221 0.0923757
                -0.00668052 0.246952 0.0271398 0.968625
                Head_Pitch camera_link 100" />-->
    
    <!-- RISE tf between head_pitch and camera 
    <node pkg="tf"
        type="static_transform_publisher"
        name="camera_tf"
        args="0.11335592 0.06166395 0.12923674
            -0.0469097 0.26975406 -0.01323368 0.96169491
            Head_Pitch camera_link 100" /> -->

    <!-- perception interface for KIST perception -->
    <node name="perception_interface" pkg="perception_interface" type="perception_interface.py"/>

    <!-- depth to cloud -->
    <include file="$(find perception_interface)/launch/depth_to_cloud.launch" />

</launch>
