<launch>
    <!-- Detect QR code -->
    <node name="qr_tracker" pkg="qr_tracker" type="qr_tracker" output="screen">
        <param name="~marker_size" value="0.05"/>
        <param name="~camera_frame" value="cam_e_color_optical_frame"/>
        <param name="~color_topic" value="/cam_e/color/image_raw"/>
        <param name="~color_info" value="/cam_e/color/camera_info"/>
    </node>
    
    <!-- visualization of objects-->
    <node name="object_creator" pkg="qr_tracker" type="qr_to_object.py" output="screen">
        <param name="~marker_size" value="0.05"/>
    </node>

</launch>
