<!-- -->
<launch>
    <arg name="marker_size"          default="0.046"/>
    <arg name="camera_frame"         default="/cam_e_color_optical_frame"/>
    <arg name="color_topic"          default="/cam_e/color/image_raw"/>
    <arg name="color_info"           default="/cam_e/color/camera_info"/>

    <!-- Detect QR code -->
    <node name="aruco_detector" pkg="qr_tracker" type="aruco_detector.py" output="screen">
        <param name="~marker_size" value="$(arg marker_size)"/>      <!--m-->
        <param name="~camera_frame" value="$(arg camera_frame)"/> <!--rgb optical frame-->
        <param name="~color_topic" value="$(arg color_topic)"/>     <!-- rgb image -->
        <param name="~color_info" value="$(arg color_info)"/>    <!-- rgb camera info-->
    </node>

    <!-- visualization of objects-->
    <node name="object_creator" pkg="qr_tracker" type="qr_to_object.py" output="screen">
         <param name="~base_frame" value="base_footprint"/> 
    </node> 

</launch>
